{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<p><em>by {{ post.author }} on {{ post.createdAt|date('Y-m-d H:i') }}</em></p>
{% if post.imageUrl %}
    <img src="{{ post.imageUrl }}" class="img-fluid my-3">
{% endif %}
<p>{{ post.content }}</p>
<a href="{{ path('blog_index') }}">← Back to Blog</a>
{% endblock %}
